
	body{
		background-color: 000222;
		color: fafafa;
	}
			
	a:link {
		font-family: 'Raleway';
		color: 128F87;
	}
	a:visited {
		font-family: 'Raleway';
		color: 16A9A0;
	}
	a:hover {
		font-family: 'Raleway';
		color: 1BC0B6;
	}
	a:active {
		font-family: 'Raleway';
		color: 1ED7CB;
	}

	div{
		font: 14px 'Raleway';
	}
			
	#leftspacing{
		width: 700px ;
		margin-left: auto ;
		margin-right: auto ;
	}
		
	#sorrynotsorry{
		font: 20px 'Raleway', sans-serif;
	}
	
	#thelinks{
		line-height: 1.5em;
		letter-spacing: 2px;
		text-align: center;
		color: 101010;
		display: inline-block;
	}